# Packaging
packaging/**/pkg
packaging/**/src
packaging/**/*.tar.*
packaging/**/*.pack
packaging/calamares-configuration-git/calamares-configuration/*
packaging/calamares-configuration/calamares-configuration/*
*.code-workspace