# Packaging
scripts/packaging/**/pkg
scripts/packaging/**/src
scripts/packaging/**/*.tar.*
scripts/packaging/calamares-configuration-git/calamares-configuration/*
scripts/packaging/calamares-configuration/calamares-configuration/*